.projects {
  /* text-decoration: underline; */

  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: center;
}
.underline {
  text-decoration-color: #ef9902;
}
